<div class="sidebar-menu">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items">
        <p>&nbsp;</p>
        <li class="">
            <a href="">
                <span class="title">Language</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-language"></i></span>
        </li>
        <li class="">
            <a href="">
                <span class="title">Course</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-magic"></i></span>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>